fastapi==0.109.0
uvicorn==0.25.0
python-multipart==0.0.9
passlib[bcrypt]==1.7.4
python-jose==3.3.0
email-validator==2.1.1
SQLAlchemy==2.0.23
Jinja2==3.1.2

# Pydantic ohne Rust Compiler
pydantic==2.5.2
pydantic-core==2.14.5

python-dotenv==1.0.1
websockets==12.0
